.pagination {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link {
    display: block;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #0D0D0D;
    box-shadow: 0 0 10px rgba($black, .15);
    border-radius: 3px;
    font-size: 1.4rem;
    line-height: 4rem;
    color: $white;
    text-align: center;
    text-decoration: none;
    transition: backgtound-color .2s linear;
    &:hover {
        background-color: lighten(#0D0D0D, 2%);
    }
    &.active {
        background-color: $blue;
        box-shadow: 0 0 10px rgba($blue, .15);
    }
}