<aside class="sidebar">
    <div class="sidebar__header">
        <img class="sidebar__header-img" src="../assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://placehold.it/100" alt="">
            <div class="profile__name">Микола Мудь</div>
            <div class="profile__prof">блог front-end розробника</div>
            <ul class="social">

                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/instagram .svg" alt="Микола Мудь instagram">
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/vk.svg" alt="Микола Мудь vk">
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/pinterest.svg" alt="Микола Мудь pinterest">
                    </a>
                </li>

            </ul>
            <div class="profile__text">
                <p>
                    Front-end розробник. Практик верстки сайтів. Створенням сайтів займаюся з 2019 року. Працював в декількох ІТ компаніях і напрацював понад 10 000 годин в створенні сайтів різної складності.
                </p>
            </div>
        </div>
    </div>
    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Мої роботи</a>
        <button class="btn btn--blue" type="button">
            Написати мені
        </button>
    </div>
</aside>